{{- define "user_select_profile" -}}
  {{- $profile_numbers := list -}}
  {{- range $i, $p := .profiles -}}
    {{- writeToStdout (print (add $i 1) ": " $p.username) "\n" -}}
    {{- $profile_numbers = append $profile_numbers (add $i 1) -}}
  {{- else -}}
    {{- writeToStdout "You didn't configure any profiles.\n" -}}
  {{- end -}}
  {{- $profile_numbers = append $profile_numbers "go back" -}}
  {{- $chosen_number := promptChoice "Which profile" $profile_numbers -}}
  {{- if eq $chosen_number "go back" -}}
    {{- $_ := set . "return" dict -}}
  {{- else -}}
    {{- $_ := set . "return" (index .profiles (sub $chosen_number 1)) -}}
  {{- end -}}
{{- end -}}


{{- writeToStdout "Generating chezmoi config at " (joinPath (env "XDG_CONFIG_HOME") "chezmoi" "chezmoi.yaml") "...\n" -}}

{{- $profiles := default (list) (get $ "profiles") -}}
{{- $commands := (list "add new profile" "edit a profile" "delete a profile" "continue") -}}

{{- range 1000 -}}
  {{/* writeToStdout "Existing profiles:\n" */}}
  {{- $command := promptChoice "What do you want to do" $commands -}}
  {{- $profile := dict -}}

  {{- if eq $command "add new profile" -}}
    {{- writeToStdout "Creating a new profile...\n" -}}
    {{- $profiles = append $profiles $profile -}}
  {{- else if eq $command "continue" -}}
    {{- break -}}
  {{- else if eq $command "delete a profile" -}}
    {{- $template_args := dict "profiles" $profiles -}}
    {{- template "user_select_profile" $template_args -}}
    {{- if empty $template_args.return -}}
      {{- continue -}}
    {{- else -}}
      {{- $profiles = without $profiles $template_args.return -}}
      {{- writeToStdout "Profile deleted.\n" -}}
    {{- end -}}
    {{- continue -}}
  {{- else if eq "edit a profile" $command -}}
    {{- $template_args := dict "profiles" $profiles -}}
    {{- template "user_select_profile" $template_args -}}
    {{- if empty $template_args.return -}}
      {{- continue -}}
    {{- else -}}
      {{- $profile = $template_args.return -}}
      {{- writeToStdout "Editing the following profile: \n" (toYaml $profile) -}}
    {{- end -}}
  {{- end -}}

  {{- $_ := set $profile "username" (promptString "Username") -}}
  {{- $_ := set $profile "full_name" (promptString "Full name") -}}
  {{- $_ := set $profile "email" (promptString "Email") -}}

  {{- writeToStdout "Done.\n" -}}
{{- end -}}

{{- $vault := osClean (promptStringOnce $.env "VAULT" "Absolute path to the Vault") }}

keepassxc:
  database: {{ joinPath $vault "/data/keepassxc/database.kdbx" | quote }}

data:
  profiles:
{{- range $profiles }}
    - username: {{ .username | quote }}
      full_name: {{ .full_name | quote }}
      email: {{ .email | quote }}
{{- end }}
  password_manager_identity_entry: Chezmoi Identity
  identity_email_field: identity_email
  env:
    EDITOR: nvim
    VAULT: {{ $vault }}
    NOTES: {{ joinPath $vault "notes" }}

interpreters: ## Windows only
  ps1:
    command: "pwsh"
    args: ["-NoLogo"]
  sh:
    command: "C:/Program Files/Git/bin/sh.exe"

