{{ range $display_name, $data := .users -}}
[includeIf "gitdir:~/Development/{{ $display_name }}/"]
	path = ~/Development/{{ $display_name }}/.gitconfig
{{ end }}

[commit]
	verbose = true

[alias]
	df = diff --ignore-all-space --color-words
	l = log --graph --decorate --pretty=oneline --abbrev-commit
	s = status --short

[credential "https://codeberg.org"]
	provider = generic
