$vars = @{
	{{ range $name, $value := .environment_variables -}}
	"{{ $name }}" = "{{ $value }}"
	{{ end -}}
}

foreach ($name in $vars.keys) {
	$value = $vars[$name]
	
	if ($value -match "\[(.*)\]") {
		$value = Resolve-Path $Matches[1]
	}
	Write-Output "Setting $name to $value"
	[Environment]::SetEnvironmentVariable("$name", "$value", [System.EnvironmentVariableTarget]::User)
}
